<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h2>Hi! This is Edwin Tsang</h2>
      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <img src="./images/profile.jpg" class="round img-fluid"></img>
          </div>
          <div class="col">
            <p>Name: Tsang Hiu Ming</p>
            <p>Nickname: Edwin</p>
            <p>I come from Hong Kong. New to Toronto. I love playing basketball, play with me!</p>
            <p>My Resume: https://drive.google.com/file/d/1kJ-R5SR2PTVMJ_zjXP8DIc2z7Jo8QtwX/view?usp=sharing</p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>